<div class="col-lg-3 col-md-3 col-xs-6">
  <div class="card text-center">
    <div class="card-body">
      <h6 class="card-title"></h6>
      <i class="fa <%= icon %> fa-5x"></i>
      <p class="card-text"><%= title %> <%= count %></p>
    </div>
    <div class="card-footer text-muted">
      <%= link_to t(:expand), path %>
    </div>
  </div>
</div>
