<div class="container">
    <p class="h2">Dashboard#index</p>

<li>
    <a href="/checks">checks#index</a>
</li>
<li>
    <a href="/checks/new">checks#new</a>
</li>

<li>
    <a href="/inspectors">inspectors#index</a>
</li>
<li>
    <a href="/inspectors/new">inspectors#new</a>
</li>
<li>
    <a href="/organizations">organizations#index</a>
</li>
<li>
    <a href="/organizations/new">organizations#new</a>
</li>
<li>
    <a href="/people">people#index</a>
</li>
<li>
    <a href="/people/new">people#new</a>
</li>
<li>
    <a href="/reports">reports#index</a>
</li>
<li>
    <a href="/reports/new">reports#new</a>
</li>

</div>
