<p>
  App version
  <span class="badge"><%= @app %></span>
</p>
<p>
  Rails version
  <span class="badge"><%= @rails %></span>
</p>
<p>
  Ruby version
  <span class="badge"><%= @ruby %></span>
</p>
<p>
  Bundler version
  <span class="badge"><%= @bundler %></span>
</p>