<p> App version <span class="badge"><%= APP_VERSION %></span></p>
<p> Ruby version <span class="badge"><%= RUBY_VERSION %></span></p>
<p> Bundler version <span class="badge"><%= ENV['BUNDLER_VERSION'] %></span></p>
