<h1><%= t(:people) %></h1>
<%= render partial: "searchbar", locals: {search: @search, path: new_person_path, text: t(:new_person), search_hash: :first_name_or_last_name_or_middle_name_cont} %>
<br>
<div class="list-group">
  <% @people.each do |p| %>
    <%= link_to person_path(p), class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= p.full_name %></h5>
      </div>
    <% end %>
  <% end %>
</div>
<br>
