<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><%= link_to t(:sign_in), new_user_session_path, class: 'nav-link' %></li>
  </ul>
</div>