[Unit]
Description=AISKRU

After=network.target
Requires=postgresql.service

[Service]
Type=simple
User=deploy
Group=deploy
WorkingDirectory=/var/www/project/current
Environment=RAILS_ENV=production
PIDFile=/var/www/project/shared/tmp/pids/puma.pid
ExecStart=/home/deploy/.rbenv/shims/bundle exec puma  -e production -C ./config/puma.rb config.ru
TimeoutSec=15

Restart=always

[Install]
WantedBy=multi-user.target

