[Unit]
Description=AISKRU

Requires=network.target
Requires=postgresql.service

[Service]
Type=simple
User=deploy
Group=deploy
WorkingDirectory=/var/www/project/current
PIDFile=/var/www/project/tmp/unicorn.pid
ExecStart=/bin/bash -lc 'RAILS_ENV=production bundle exec puma -e production -d -b unix:///var/www/project/shared/tmp/sockets/puma.sock --pidfile /var/www/project/tmp/webrick.pid'
TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
