<div class="row justify-content-between">
  <div class="col-lg-2">
    <% if current_user.is_admin == true %>
      <div class="input-group-btn">
        <%= link_to text, path, class: 'btn btn-outline-success' %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3">
    <%= search_form_for search do |f| %>
      <div class="input-group">
        <%= f.text_field search_hash, class: "form-control" %>
        <div class="input-group-append">
          <%= f.submit search_hash, class: "btn btn-outline-secondary", value: t(:search) %>
        </div>
      </div>
    <% end %>
  </div>
</div>